<c8y-title>
  {{ 'Cloud' | translate }}
</c8y-title>
<div class="card-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Configuration properties</div>
      <div class="card-block my-card-body">
        <div class="form-group" [formGroup]="loginForm">
          <div class="row">
            <c8y-form-group class="col-lg-8">
              <label translate>Tenant URL</label>
              <input class="form-control" type="text" formControlName="tenantUrl"
                placeholder="your-tenant.cumulocity.com" #tenantUrlRef required
                [readonly]="edgeConfiguration['device.id'] && edgeConfiguration['c8y.url']" />
            </c8y-form-group>
          </div>
          <div class="row">
            <c8y-form-group class="col-lg-8">
              <label translate>Username</label>
              <input class="form-control" formControlName="username" placeholder="your username" #tusernameRef
                required />
              <label translate>Password</label>
              <input class="form-control" formControlName="password" placeholder="your password" type="password"
                #passwordlRef required />
            </c8y-form-group>
          </div>
          <button (click)="login()">Test Login to Tenant</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <!--         <c8y-list-group *ngIf="cloudDeviceDetails">
          <c8y-li *ngFor="let item of (cloudDeviceDetails | keyvalue); index as i" #li>
            <td style="width: 20%"><span >{{ item.key | titlecase}}:</span></td>
            <td style="width: 80%"><span >{{item.value}}</span></td>
          </c8y-li>
        </c8y-list-group> -->
      <c8y-data-grid [title]="'Devcie Details' | translate" [columns]="columns" [rows]="rows$ | async"
        [pagination]="pagination" [actionControls]="actionControls">
      </c8y-data-grid>
    </div>
  </div>
</div>