<c8y-title>
  {{ 'Status' | translate }}
</c8y-title>
<div class="card-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Configuration properties</div>
      <div class="card-block my-card-body">
        <pre>{{configuration| json}}</pre>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Status</div>
      <div class="card-block my-card-body">
        <pre>{{status}}</pre>
      </div>
    </div>
  </div>
</div>
<!-- <div #myTerminal></div> -->