<c8y-title>
  {{ 'Analytics'| translate }}
</c8y-title>
<div class="card-group">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">{{ config.diagramName}} (spanning {{config.rangeUnitCount}} * {{rangeUnits[config.rangeUnit].text}})</div>
        <div class="card-block my-card-body">
            <cumulocity-datapoints-charting-widget
            [config]="config">
          </cumulocity-datapoints-charting-widget>
        </div>
      </div>
    </div>
</div>

<c8y-action-bar-item [placement]="'right'">
    <button
      class="btn btn-link"
      title="{{ 'Configure diagram' | translate }}"
      (click) = "showDialog = !showDialog">
      <i class="fa fa-cog"></i>&nbsp;<span translate>Configure diagram</span>
    </button>
</c8y-action-bar-item>



<div [ngClass]="{ drawerOpen: showDialog }">
  <div class="bottom-drawer">
    <cumulocity-datapoints-charting-config (onChangeConfig)="configurationChanged($event)"
      *ngIf="showDialog"
      class="d-contents"
      [config]="config"
    >
    </cumulocity-datapoints-charting-config>
  </div>
</div>