<c8y-title>
  {{ 'Analytics'| translate }}
</c8y-title>
<div class="card-group">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        {{ config.diagramName}}
        <div class="form-group-sm" style="margin-left: 20px;">
          <select class="form-control" name="spanSelector" [(ngModel)]="displaySpan">
            <option *ngFor="let span of spanList" [value]="span.spanInSeconds">
              <span *ngIf="span.spanInSeconds == 0">
                {{span.text}} {{config.rangeUnitCount}} * {{rangeUnits[config.rangeUnit].text}}
              </span>
              <span *ngIf="span.spanInSeconds != 0">
                {{span.text}}
              </span>
            </option>
          </select>
        </div>
        <div class="datetime-picker" *ngIf="displaySpan == -1" style="margin-left: 20px;">
          <label class="small m-r-4">From</label>
          <div class="form-group-sm datepicker">
            <input type="text" placeholder="Range" class="form-control" bsDatepicker [(ngModel)]="dateFrom"
              [bsConfig]="bsConfig" (bsValueChange)="updateFrom()">
          </div>
          <timepicker class="form-group-sm" [(ngModel)]="dateFrom" [showMeridian]="showMeridian" [showSpinners]="showSpinners"
            (bsValueChange)="updateFrom()"></timepicker>
        </div>
        <div class="datetime-picker" *ngIf="displaySpan == -1" style="margin-left: 20px;">
          <label class="small m-r-4">To</label>
          <div class="form-group-sm datepicker">
            <input type="text" placeholder="Range" class="form-control" [minDate]="dateFrom" bsDatepicker [(ngModel)]="dateTo"
              [bsConfig]="bsConfig" (bsValueChange)="updateTo()">
          </div>
          <timepicker class="form-group-sm" [(ngModel)]="dateTo" [showMeridian]="showMeridian" [showSpinners]="showSpinners"
            (bsValueChange)="updateTo()"></timepicker>
        </div>
      </div>
      <div class="card-block my-card-body">
        <cumulocity-datapoints-charting-widget [config]="config" [displaySpan]="displaySpan" [dateFrom]="dateFrom" [dateTo]="dateTo">
        </cumulocity-datapoints-charting-widget>
      </div>
    </div>
  </div>
</div>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" title="{{ 'Configure diagram' | translate }}" (click)="showDialog = !showDialog">
    <i class="fa fa-cog"></i>&nbsp;<span translate>Configure diagram</span>
  </button>
</c8y-action-bar-item>



<div [ngClass]="{ drawerOpen: showDialog }">
  <div class="bottom-drawer">
    <cumulocity-datapoints-charting-config (onChangeConfig)="configurationChanged($event)"
      (onClose)="showDialog = !showDialog" *ngIf="showDialog" class="d-contents" [config]="config">
    </cumulocity-datapoints-charting-config>
  </div>
</div>