<div class="card-group">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Diagram properties</div>
            <div class="card-block">
                <div class="form-group">
                    <label translate>Diagram Name</label>
                    <input class="form-control" [(ngModel)]="config.diagramName" placeholder="diagram name" required />
                    <label translate>Range Unit Count</label>
                    <input class="form-control" [(ngModel)]="config.rangeUnitCount"
                        placeholder="number of range units, e.g. number of seconds, minutes, ..." required />
                    <label translate>Range Unit</label>
                    <select class="form-control" name="rangeSelector" [(ngModel)]="config.rangeUnit"
                        (ngModelChange)="updateConfig()">
                        <option *ngFor="let rType of rangeUnits; index as i;" [ngValue]="i">
                            {{ rType.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Measurement Types</div>
            <div class="card-block">
                <c8y-list-group *ngIf="measurementTypes.length">
                    <c8y-li *ngFor="let mType of measurementTypes" #li>
                        <c8y-li-icon [icon]="'caret-right'"></c8y-li-icon>
                        <button class="btn-clean" (click)="li.collapsed = !li.collapsed">{{mType.name}} (with series)
                        </button>                     
                        <c8y-li-collapse>
                            <c8y-list-group *ngFor="let serie of mType.series; index as i;">
                                <c8y-li>{{i}}. &nbsp;{{serie}}</c8y-li>
                            </c8y-list-group>
                        </c8y-li-collapse>
                    </c8y-li>
                </c8y-list-group>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <div style="margin-left: 20px">
            <button type="button" class="btn btn-primary" (click)="onSaveClicked()">Save</button>
        </div>
    </div>
    <div class="col-sm-1">
        <div style="margin-left: 20px">
            <button type="button" class="btn btn-primary" (click)="onCloseClicked()">Close</button>
        </div>
    </div>
</div>