<div class="card-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Configuration properties</div>
      <div class="card-block my-card-body">
        <div class="form-group" [formGroup]="loginForm">
          <div class="row">
            <c8y-form-group class="col-lg-8">
              <label translate>Tenant URL</label>
              <input class="form-control" type="text" formControlName="tenantUrl"
                placeholder="https://your-tenant.cumulocity.com" #tenantUrlRef required
                [readonly]="edgeConfiguration?.deviceId && edgeConfiguration?.tenantUrl" />
            </c8y-form-group>
          </div>
          <div class="row">
            <c8y-form-group class="col-lg-8">
              <label translate>Username</label>
              <input class="form-control" formControlName="username" placeholder="your username" #tusernameRef
                required />
              <label translate>Password</label>
              <input class="form-control" formControlName="password" placeholder="your password" type="password"
                #passwordlRef required />
            </c8y-form-group>
          </div>
          <button (click)="login()">Test Login to Tenant</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <table>
        <tbody *ngIf="cloudDeviceDetails">
          <tr *ngFor="let attribute of  Object.keys(cloudDeviceDetails); index as i">
            <td scope="row">{{attribute | titlecase}}:</td>
            <td scope="row">{{cloudDeviceDetails[attribute]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-block">
    <div class="form-group">
      <input class="form-control" placeholder="your deviceId" #deviceIdRef required />
      <button type="button" (click)="createMeasurement(deviceIdRef.value)">Create Test Measurement</button>
    </div>
  </div>
</div>